<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>


<h2>Número de ataques por mes a nivel mundial durante el 2015 </h2>
<ul>

  <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>

</ul>

<h2>Informe de resultados obtenidos</h2>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    En el gráfico anterior se muestra el número de ataques terroristas durante el año 2015 ara cada mes.
  </span>
</p>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    Esta sencilla visualización toma los datos desde una base de datos de mongoDB, en la que han sido introducidos desde el csv del dataset
    de terrorismo global.
  </span>
</p>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    A la vista de los datos, se puede observar que el mes con mayor número de ataques se produce en 
    Enero, seguido de Mayo y después Agosto.
    
    Los meses en los cuales se producen menos eventos de esta tipología es en Diciembre, seguido de
    Septiembe. 
  </span>
</p>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    Si se analiza el rango de valores se puede decir que los meses oscilan entre los 2000 y 2500 ataques, lo que supone una gran cifra, aunque 
    se esté hablando de datos anuales.
    Si se toma el valor intermedio entre este rango de valores (2250 aproximadamente) se puede decir que durante el 2015
    se dan unos 75 ataques por día.
  </span>
</p>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    Cabe aclarar, que aunque en esta visualización no se muestra el número de víctimas de los ataques, esta cifra tan alta de ataques diarios
    corresponde en un porcentaje a ataques sin víctimas mortales. Para realizar una análisis más profundo del impacto de estos ataques se 
    propone realizar otra visualización dedicada a este propósito (no objeto de este caso).
  </span>
</p>
<p class="class_7" style="font-size:20px; line-height:1.4em;">
  <span style="font-size:20px;">
    Para finalizar, se propone realizar un estudio temporal para poder ver la evolución a lo largo de os últimos años, a pesar de que eventos 
    de este tipo siempre deben ser reducidos al mínimo posible.
  </span>
</p>